<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>A-cyrl</key>
  <string>A_-cyrl.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Be-cyrl</key>
  <string>B_e-cyrl.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Che-cyrl</key>
  <string>C_he-cyrl.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>De-cyrl</key>
  <string>D_e-cyrl.glif</string>
  <key>De-cyrl.salt</key>
  <string>D_e-cyrl.salt.glif</string>
  <key>Dje-cyrl</key>
  <string>D_je-cyrl.glif</string>
  <key>Dze-cyrl</key>
  <string>D_ze-cyrl.glif</string>
  <key>Dzhe-cyrl</key>
  <string>D_zhe-cyrl.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>E-cyrl</key>
  <string>E_-cyrl.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Ef-cyrl</key>
  <string>E_f-cyrl.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eiotified-cyrl</key>
  <string>E_iotified-cyrl.glif</string>
  <key>El-cyrl</key>
  <string>E_l-cyrl.glif</string>
  <key>El-cyrl.salt</key>
  <string>E_l-cyrl.salt.glif</string>
  <key>Em-cyrl</key>
  <string>E_m-cyrl.glif</string>
  <key>En-cyrl</key>
  <string>E_n-cyrl.glif</string>
  <key>Er-cyrl</key>
  <string>E_r-cyrl.glif</string>
  <key>Es-cyrl</key>
  <string>E_s-cyrl.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>Fita-cyrl</key>
  <string>F_ita-cyrl.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gbreve</key>
  <string>G_breve.glif</string>
  <key>Ghe-cyrl</key>
  <string>G_he-cyrl.glif</string>
  <key>Gheupturn-cyrl</key>
  <string>G_heupturn-cyrl.glif</string>
  <key>Gje-cyrl</key>
  <string>G_je-cyrl.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Ha-cyrl</key>
  <string>H_a-cyrl.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>I-cyrl</key>
  <string>I_-cyrl.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Ibreve</key>
  <string>I_breve.glif</string>
  <key>Ibyelorussianukrainian-cyrl</key>
  <string>I_byelorussianukrainian-cyrl.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Ie-cyrl</key>
  <string>I_e-cyrl.glif</string>
  <key>Iegrave-cyrl</key>
  <string>I_egrave-cyrl.glif</string>
  <key>Ieukrainian-cyrl</key>
  <string>I_eukrainian-cyrl.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Igrave-cyrl</key>
  <string>I_grave-cyrl.glif</string>
  <key>Io-cyrl</key>
  <string>I_o-cyrl.glif</string>
  <key>Ishort-cyrl</key>
  <string>I_short-cyrl.glif</string>
  <key>Izhitsa-cyrl</key>
  <string>I_zhitsa-cyrl.glif</string>
  <key>Izhitsadoublegrave-cyrl</key>
  <string>I_zhitsadoublegrave-cyrl.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>Je-cyrl</key>
  <string>J_e-cyrl.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Ka-cyrl</key>
  <string>K_a-cyrl.glif</string>
  <key>Ka-cyrl.salt</key>
  <string>K_a-cyrl.salt.glif</string>
  <key>Kje-cyrl</key>
  <string>K_je-cyrl.glif</string>
  <key>Ksi-cyrl</key>
  <string>K_si-cyrl.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lje-cyrl</key>
  <string>L_je-cyrl.glif</string>
  <key>Lmiddledot</key>
  <string>L_middledot.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Nje-cyrl</key>
  <string>N_je-cyrl.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>O-cyrl</key>
  <string>O_-cyrl.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omega-cyrl</key>
  <string>O_mega-cyrl.glif</string>
  <key>Omegatitlo-cyrl</key>
  <string>O_megatitlo-cyrl.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Ot-cyrl</key>
  <string>O_t-cyrl.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Pe-cyrl</key>
  <string>P_e-cyrl.glif</string>
  <key>Psi-cyrl</key>
  <string>P_si-cyrl.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Roundomega-cyrl</key>
  <string>R_oundomega-cyrl.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Sha-cyrl</key>
  <string>S_ha-cyrl.glif</string>
  <key>Shcha-cyrl</key>
  <string>S_hcha-cyrl.glif</string>
  <key>Signhard-cyrl</key>
  <string>S_ignhard-cyrl.glif</string>
  <key>Signsoft-cyrl</key>
  <string>S_ignsoft-cyrl.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Te-cyrl</key>
  <string>T_e-cyrl.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tse-cyrl</key>
  <string>T_se-cyrl.glif</string>
  <key>Tshe-cyrl</key>
  <string>T_she-cyrl.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>U-cyrl</key>
  <string>U_-cyrl.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Uk-cyrl</key>
  <string>U_k-cyrl.glif</string>
  <key>Ushort-cyrl</key>
  <string>U_short-cyrl.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>Ve-cyrl</key>
  <string>V_e-cyrl.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Ya-cyrl</key>
  <string>Y_a-cyrl.glif</string>
  <key>Ya-cyrl.salt</key>
  <string>Y_a-cyrl.salt.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Yat-cyrl</key>
  <string>Y_at-cyrl.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Yeru-cyrl</key>
  <string>Y_eru-cyrl.glif</string>
  <key>Yi-cyrl</key>
  <string>Y_i-cyrl.glif</string>
  <key>Yu-cyrl</key>
  <string>Y_u-cyrl.glif</string>
  <key>Yusbig-cyrl</key>
  <string>Y_usbig-cyrl.glif</string>
  <key>Yusiotifiedbig-cyrl</key>
  <string>Y_usiotifiedbig-cyrl.glif</string>
  <key>Yusiotifiedlittle-cyrl</key>
  <string>Y_usiotifiedlittle-cyrl.glif</string>
  <key>Yuslittle-cyrl</key>
  <string>Y_uslittle-cyrl.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Ze-cyrl</key>
  <string>Z_e-cyrl.glif</string>
  <key>Zhe-cyrl</key>
  <string>Z_he-cyrl.glif</string>
  <key>Zhe-cyrl.salt</key>
  <string>Z_he-cyrl.salt.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a-cyrl</key>
  <string>a-cyrl.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>be-cyrl</key>
  <string>be-cyrl.glif</string>
  <key>be-cyrl.salt</key>
  <string>be-cyrl.salt.glif</string>
  <key>be-cyrl.salt.1</key>
  <string>be-cyrl.salt.1.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>brevecomb.salt</key>
  <string>brevecomb.salt.glif</string>
  <key>brevemod</key>
  <string>brevemod.glif</string>
  <key>brevemod.salt</key>
  <string>brevemod.salt.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>caronmod</key>
  <string>caronmod.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>che-cyrl</key>
  <string>che-cyrl.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>circumflexmod</key>
  <string>circumflexmod.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>cyrillicdasiapneumatacomb</key>
  <string>cyrillicdasiapneumatacomb.glif</string>
  <key>cyrillicpsilipneumatacomb</key>
  <string>cyrillicpsilipneumatacomb.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>de-cyrl</key>
  <string>de-cyrl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dje-cyrl</key>
  <string>dje-cyrl.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotaccentmod</key>
  <string>dotaccentmod.glif</string>
  <key>doubleacutecomb</key>
  <string>doubleacutecomb.glif</string>
  <key>doubleacutemod</key>
  <string>doubleacutemod.glif</string>
  <key>doublegravecomb</key>
  <string>doublegravecomb.glif</string>
  <key>dze-cyrl</key>
  <string>dze-cyrl.glif</string>
  <key>dzhe-cyrl</key>
  <string>dzhe-cyrl.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e-cyrl</key>
  <string>e-cyrl.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ebreve</key>
  <string>ebreve.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>ef-cyrl</key>
  <string>ef-cyrl.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.pnum</key>
  <string>eight.pnum.glif</string>
  <key>eiotified-cyrl</key>
  <string>eiotified-cyrl.glif</string>
  <key>el-cyrl</key>
  <string>el-cyrl.glif</string>
  <key>el-cyrl.salt</key>
  <string>el-cyrl.salt.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>em-cyrl</key>
  <string>em-cyrl.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>en-cyrl</key>
  <string>en-cyrl.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>er-cyrl</key>
  <string>er-cyrl.glif</string>
  <key>es-cyrl</key>
  <string>es-cyrl.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>ff</key>
  <string>ff.glif</string>
  <key>ffi</key>
  <string>ffi.glif</string>
  <key>ffl</key>
  <string>ffl.glif</string>
  <key>fhook</key>
  <string>fhook.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>fita-cyrl</key>
  <string>fita-cyrl.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.pnum</key>
  <string>five.pnum.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.pnum</key>
  <string>four.pnum.glif</string>
  <key>fourperemspace</key>
  <string>fourperemspace.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>g.1</key>
  <string>g.1.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>ghe-cyrl</key>
  <string>ghe-cyrl.glif</string>
  <key>ghe-cyrl.salt</key>
  <string>ghe-cyrl.salt.glif</string>
  <key>gheupturn-cyrl</key>
  <string>gheupturn-cyrl.glif</string>
  <key>gje-cyrl</key>
  <string>gje-cyrl.glif</string>
  <key>glyph186</key>
  <string>glyph186.glif</string>
  <key>glyph379</key>
  <string>glyph379.glif</string>
  <key>glyph380</key>
  <string>glyph380.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>ha-cyrl</key>
  <string>ha-cyrl.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphenminus</key>
  <string>hyphenminus.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>i-cyrl</key>
  <string>i-cyrl.glif</string>
  <key>i.ccmp</key>
  <string>i.ccmp.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>ibreve</key>
  <string>ibreve.glif</string>
  <key>ibyelorussianukrainian-cyrl</key>
  <string>ibyelorussianukrainian-cyrl.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>idotless</key>
  <string>idotless.glif</string>
  <key>ie-cyrl</key>
  <string>ie-cyrl.glif</string>
  <key>iegrave-cyrl</key>
  <string>iegrave-cyrl.glif</string>
  <key>ieukrainian-cyrl</key>
  <string>ieukrainian-cyrl.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>igrave-cyrl</key>
  <string>igrave-cyrl.glif</string>
  <key>igrave-cyrl.salt</key>
  <string>igrave-cyrl.salt.glif</string>
  <key>io-cyrl</key>
  <string>io-cyrl.glif</string>
  <key>ishort-cyrl</key>
  <string>ishort-cyrl.glif</string>
  <key>ishort-cyrl.salt</key>
  <string>ishort-cyrl.salt.glif</string>
  <key>izhitsa-cyrl</key>
  <string>izhitsa-cyrl.glif</string>
  <key>izhitsadoublegrave-cyrl</key>
  <string>izhitsadoublegrave-cyrl.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>j.ccmp</key>
  <string>j.ccmp.glif</string>
  <key>jdotless</key>
  <string>jdotless.glif</string>
  <key>je-cyrl</key>
  <string>je-cyrl.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>ka-cyrl</key>
  <string>ka-cyrl.glif</string>
  <key>ka-cyrl.salt</key>
  <string>ka-cyrl.salt.glif</string>
  <key>kje-cyrl</key>
  <string>kje-cyrl.glif</string>
  <key>ksi-cyrl</key>
  <string>ksi-cyrl.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lje-cyrl</key>
  <string>lje-cyrl.glif</string>
  <key>lmiddledot</key>
  <string>lmiddledot.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>m.1</key>
  <string>m.1.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>n.1</key>
  <string>n.1.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.pnum</key>
  <string>nine.pnum.glif</string>
  <key>nje-cyrl</key>
  <string>nje-cyrl.glif</string>
  <key>nonbreakinghyphen</key>
  <string>nonbreakinghyphen.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>numerosign</key>
  <string>numerosign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o-cyrl</key>
  <string>o-cyrl.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>obreve</key>
  <string>obreve.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonekmod</key>
  <string>ogonekmod.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>omega-cyrl</key>
  <string>omega-cyrl.glif</string>
  <key>omegatitlo-cyrl</key>
  <string>omegatitlo-cyrl.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.pnum</key>
  <string>one.pnum.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>ot-cyrl</key>
  <string>ot-cyrl.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>palatalizationcomb-cyrl</key>
  <string>palatalizationcomb-cyrl.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>pe-cyrl</key>
  <string>pe-cyrl.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>psi-cyrl</key>
  <string>psi-cyrl.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblreversed</key>
  <string>quotedblreversed.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringmod</key>
  <string>ringmod.glif</string>
  <key>roundomega-cyrl</key>
  <string>roundomega-cyrl.glif</string>
  <key>rublesign</key>
  <string>rublesign.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.pnum</key>
  <string>seven.pnum.glif</string>
  <key>sha-cyrl</key>
  <string>sha-cyrl.glif</string>
  <key>sha-cyrl.salt</key>
  <string>sha-cyrl.salt.glif</string>
  <key>shcha-cyrl</key>
  <string>shcha-cyrl.glif</string>
  <key>shcha-cyrl.salt</key>
  <string>shcha-cyrl.salt.glif</string>
  <key>signhard-cyrl</key>
  <string>signhard-cyrl.glif</string>
  <key>signhard-cyrl.salt</key>
  <string>signhard-cyrl.salt.glif</string>
  <key>signsoft-cyrl</key>
  <string>signsoft-cyrl.glif</string>
  <key>signsoft-cyrl.salt</key>
  <string>signsoft-cyrl.salt.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.pnum</key>
  <string>six.pnum.glif</string>
  <key>sixperemspace</key>
  <string>sixperemspace.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>te-cyrl</key>
  <string>te-cyrl.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.pnum</key>
  <string>three.pnum.glif</string>
  <key>threeperemspace</key>
  <string>threeperemspace.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>tildemod</key>
  <string>tildemod.glif</string>
  <key>titlocomb-cyrl</key>
  <string>titlocomb-cyrl.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tse-cyrl</key>
  <string>tse-cyrl.glif</string>
  <key>tse-cyrl.salt</key>
  <string>tse-cyrl.salt.glif</string>
  <key>tshe-cyrl</key>
  <string>tshe-cyrl.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.pnum</key>
  <string>two.pnum.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u-cyrl</key>
  <string>u-cyrl.glif</string>
  <key>u.1</key>
  <string>u.1.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uk-cyrl</key>
  <string>uk-cyrl.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>ushort-cyrl</key>
  <string>ushort-cyrl.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>ve-cyrl</key>
  <string>ve-cyrl.glif</string>
  <key>ve-cyrl.salt</key>
  <string>ve-cyrl.salt.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ya-cyrl</key>
  <string>ya-cyrl.glif</string>
  <key>ya-cyrl.salt</key>
  <string>ya-cyrl.salt.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>yat-cyrl</key>
  <string>yat-cyrl.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>yeru-cyrl</key>
  <string>yeru-cyrl.glif</string>
  <key>yeru-cyrl.salt</key>
  <string>yeru-cyrl.salt.glif</string>
  <key>yi-cyrl</key>
  <string>yi-cyrl.glif</string>
  <key>yu-cyrl</key>
  <string>yu-cyrl.glif</string>
  <key>yu-cyrl.salt</key>
  <string>yu-cyrl.salt.glif</string>
  <key>yusbig-cyrl</key>
  <string>yusbig-cyrl.glif</string>
  <key>yusiotifiedbig-cyrl</key>
  <string>yusiotifiedbig-cyrl.glif</string>
  <key>yusiotifiedlittle-cyrl</key>
  <string>yusiotifiedlittle-cyrl.glif</string>
  <key>yuslittle-cyrl</key>
  <string>yuslittle-cyrl.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>ze-cyrl</key>
  <string>ze-cyrl.glif</string>
  <key>ze-cyrl.salt</key>
  <string>ze-cyrl.salt.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.pnum</key>
  <string>zero.pnum.glif</string>
  <key>zerowidthspace</key>
  <string>zerowidthspace.glif</string>
  <key>zhe-cyrl</key>
  <string>zhe-cyrl.glif</string>
  <key>zhe-cyrl.salt</key>
  <string>zhe-cyrl.salt.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
</dict>
</plist>
