@font-face {
	font-family: 'Hikasami';
	src: url('/eot/Hikasami-VF.eot'); /* IE 9 Compatibility Mode */
	src: url('/webfonts/Hikasami-VF.woff2') format('woff2'), /* Super Modern Browsers */
		 url('/webfonts//Hikasami-VF.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		 url('/ttf/Hikasami-VF.ttf') format('truetype'), /* Safari, Android, iOS */
}