<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1._</key>
  <array>
    <string>de-cyrl</string>
  </array>
  <key>public.kern1.KernClass2</key>
  <array>
    <string>de-cyrl</string>
    <string>el-cyrl</string>
    <string>el-cyrl.salt</string>
  </array>
  <key>public.kern1.KernClass1</key>
  <array>
    <string>ie-cyrl</string>
    <string>io-cyrl</string>
    <string>o-cyrl</string>
    <string>er-cyrl</string>
    <string>es-cyrl</string>
    <string>ef-cyrl</string>
    <string>e-cyrl</string>
    <string>yu-cyrl</string>
    <string>ieukrainian-cyrl</string>
    <string>signsoft-cyrl.salt</string>
    <string>yu-cyrl.salt</string>
    <string>iegrave-cyrl</string>
    <string>fita-cyrl</string>
    <string>roundomega-cyrl</string>
  </array>
  <key>public.kern1.KernClass4</key>
  <array>
    <string>u-cyrl</string>
    <string>ushort-cyrl</string>
  </array>
  <key>public.kern1.KernClass5</key>
  <array>
    <string>tse-cyrl</string>
    <string>shcha-cyrl</string>
    <string>tse-cyrl.salt</string>
    <string>shcha-cyrl.salt</string>
  </array>
  <key>public.kern2._</key>
  <array>
    <string>u-cyrl</string>
  </array>
  <key>public.kern2.KernClass3</key>
  <array>
    <string>a-cyrl</string>
    <string>ie-cyrl</string>
    <string>io-cyrl</string>
    <string>o-cyrl</string>
    <string>es-cyrl</string>
    <string>ef-cyrl</string>
    <string>ieukrainian-cyrl</string>
    <string>g.1</string>
    <string>iegrave-cyrl</string>
    <string>fita-cyrl</string>
    <string>uk-cyrl</string>
    <string>roundomega-cyrl</string>
  </array>
  <key>public.kern2.KernClass4</key>
  <array>
    <string>u-cyrl</string>
    <string>ushort-cyrl</string>
  </array>
  <key>public.kern2.KernClass2</key>
  <array>
    <string>de-cyrl</string>
    <string>el-cyrl</string>
    <string>el-cyrl.salt</string>
  </array>
  <key>public.kern2.KernClass6</key>
  <array>
    <string>signhard-cyrl</string>
    <string>signhard-cyrl.salt</string>
  </array>
</dict>
</plist>
