<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>Ccedilla</string>
    <string>D</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Eth</string>
    <string>euro</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>Lmiddledot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>Scaron</string>
    <string>T</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Z</string>
    <string>Zcaron</string>
    <string>a</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>acute</string>
    <string>acutecomb</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>A-cyrl</string>
    <string>Be-cyrl</string>
    <string>Ve-cyrl</string>
    <string>Ghe-cyrl</string>
    <string>De-cyrl</string>
    <string>Ie-cyrl</string>
    <string>Io-cyrl</string>
    <string>Zhe-cyrl</string>
    <string>Ze-cyrl</string>
    <string>I-cyrl</string>
    <string>Ishort-cyrl</string>
    <string>Ka-cyrl</string>
    <string>El-cyrl</string>
    <string>Em-cyrl</string>
    <string>En-cyrl</string>
    <string>O-cyrl</string>
    <string>Pe-cyrl</string>
    <string>Er-cyrl</string>
    <string>Es-cyrl</string>
    <string>Te-cyrl</string>
    <string>U-cyrl</string>
    <string>Ef-cyrl</string>
    <string>Ha-cyrl</string>
    <string>Tse-cyrl</string>
    <string>Che-cyrl</string>
    <string>Sha-cyrl</string>
    <string>Shcha-cyrl</string>
    <string>Signhard-cyrl</string>
    <string>Yeru-cyrl</string>
    <string>Signsoft-cyrl</string>
    <string>E-cyrl</string>
    <string>Yu-cyrl</string>
    <string>Ya-cyrl</string>
    <string>Gheupturn-cyrl</string>
    <string>Dje-cyrl</string>
    <string>Gje-cyrl</string>
    <string>Ieukrainian-cyrl</string>
    <string>Dze-cyrl</string>
    <string>Ibyelorussianukrainian-cyrl</string>
    <string>Yi-cyrl</string>
    <string>Je-cyrl</string>
    <string>Lje-cyrl</string>
    <string>Nje-cyrl</string>
    <string>Tshe-cyrl</string>
    <string>Kje-cyrl</string>
    <string>Ushort-cyrl</string>
    <string>a-cyrl</string>
    <string>be-cyrl</string>
    <string>ve-cyrl</string>
    <string>ghe-cyrl</string>
    <string>de-cyrl</string>
    <string>ie-cyrl</string>
    <string>io-cyrl</string>
    <string>zhe-cyrl</string>
    <string>ze-cyrl</string>
    <string>i-cyrl</string>
    <string>ishort-cyrl</string>
    <string>ka-cyrl</string>
    <string>el-cyrl</string>
    <string>em-cyrl</string>
    <string>en-cyrl</string>
    <string>o-cyrl</string>
    <string>pe-cyrl</string>
    <string>er-cyrl</string>
    <string>es-cyrl</string>
    <string>te-cyrl</string>
    <string>u-cyrl</string>
    <string>ef-cyrl</string>
    <string>ha-cyrl</string>
    <string>tse-cyrl</string>
    <string>che-cyrl</string>
    <string>sha-cyrl</string>
    <string>shcha-cyrl</string>
    <string>signhard-cyrl</string>
    <string>yeru-cyrl</string>
    <string>signsoft-cyrl</string>
    <string>e-cyrl</string>
    <string>yu-cyrl</string>
    <string>ya-cyrl</string>
    <string>gheupturn-cyrl</string>
    <string>dje-cyrl</string>
    <string>gje-cyrl</string>
    <string>ieukrainian-cyrl</string>
    <string>dze-cyrl</string>
    <string>ibyelorussianukrainian-cyrl</string>
    <string>yi-cyrl</string>
    <string>je-cyrl</string>
    <string>lje-cyrl</string>
    <string>nje-cyrl</string>
    <string>tshe-cyrl</string>
    <string>kje-cyrl</string>
    <string>ushort-cyrl</string>
    <string>Dzhe-cyrl</string>
    <string>Yat-cyrl</string>
    <string>dzhe-cyrl</string>
    <string>yat-cyrl</string>
    <string>numerosign</string>
    <string>agrave</string>
    <string>ampersand</string>
    <string>aring</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>brevemod</string>
    <string>brevemod.salt</string>
    <string>glyph186</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>c</string>
    <string>caronmod</string>
    <string>ccedilla</string>
    <string>cedilla</string>
    <string>cent</string>
    <string>circumflexmod</string>
    <string>colon</string>
    <string>comma</string>
    <string>copyright</string>
    <string>currency</string>
    <string>d</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>degree</string>
    <string>dieresis</string>
    <string>divide</string>
    <string>dollar</string>
    <string>dotaccentmod</string>
    <string>idotless</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>egrave</string>
    <string>eight</string>
    <string>eight.pnum</string>
    <string>ellipsis</string>
    <string>emdash</string>
    <string>endash</string>
    <string>equal</string>
    <string>eth</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f</string>
    <string>ff</string>
    <string>ffi</string>
    <string>ffl</string>
    <string>figuredash</string>
    <string>five</string>
    <string>five.pnum</string>
    <string>fhook</string>
    <string>four</string>
    <string>four.pnum</string>
    <string>fraction</string>
    <string>g</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>gravecomb</string>
    <string>greater</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>doubleacutemod</string>
    <string>hyphenminus</string>
    <string>i</string>
    <string>i.ccmp</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>j</string>
    <string>j.ccmp</string>
    <string>k</string>
    <string>l</string>
    <string>lmiddledot</string>
    <string>less</string>
    <string>logicalnot</string>
    <string>lslash</string>
    <string>m</string>
    <string>macron</string>
    <string>minus</string>
    <string>mu</string>
    <string>multiply</string>
    <string>n</string>
    <string>nine</string>
    <string>nine.pnum</string>
    <string>ntilde</string>
    <string>numbersign</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ogonekmod</string>
    <string>ograve</string>
    <string>one</string>
    <string>one.pnum</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>p</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>percent</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>perthousand</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>q</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>registered</string>
    <string>ringmod</string>
    <string>s</string>
    <string>scaron</string>
    <string>section</string>
    <string>semicolon</string>
    <string>seven</string>
    <string>seven.pnum</string>
    <string>six</string>
    <string>six.pnum</string>
    <string>slash</string>
    <string>sterling</string>
    <string>t</string>
    <string>thorn</string>
    <string>three</string>
    <string>three.pnum</string>
    <string>threequarters</string>
    <string>tildemod</string>
    <string>tildecomb</string>
    <string>trademark</string>
    <string>two</string>
    <string>two.pnum</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>underscore</string>
    <string>nbspace</string>
    <string>softhyphen</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onesuperior</string>
    <string>jdotless</string>
    <string>circumflexcomb</string>
    <string>macroncomb</string>
    <string>brevecomb</string>
    <string>brevecomb.salt</string>
    <string>dotaccentcomb</string>
    <string>dieresiscomb</string>
    <string>ringcomb</string>
    <string>doubleacutecomb</string>
    <string>caroncomb</string>
    <string>doublegravecomb</string>
    <string>Iegrave-cyrl</string>
    <string>Igrave-cyrl</string>
    <string>De-cyrl.salt</string>
    <string>Zhe-cyrl.salt</string>
    <string>Ka-cyrl.salt</string>
    <string>El-cyrl.salt</string>
    <string>Ya-cyrl.salt</string>
    <string>be-cyrl.salt</string>
    <string>be-cyrl.salt.1</string>
    <string>ve-cyrl.salt</string>
    <string>ghe-cyrl.salt</string>
    <string>g.1</string>
    <string>zhe-cyrl.salt</string>
    <string>ze-cyrl.salt</string>
    <string>u.1</string>
    <string>ishort-cyrl.salt</string>
    <string>ka-cyrl.salt</string>
    <string>el-cyrl.salt</string>
    <string>n.1</string>
    <string>m.1</string>
    <string>tse-cyrl.salt</string>
    <string>sha-cyrl.salt</string>
    <string>shcha-cyrl.salt</string>
    <string>signhard-cyrl.salt</string>
    <string>yeru-cyrl.salt</string>
    <string>signsoft-cyrl.salt</string>
    <string>yu-cyrl.salt</string>
    <string>ya-cyrl.salt</string>
    <string>iegrave-cyrl</string>
    <string>glyph379</string>
    <string>glyph380</string>
    <string>igrave-cyrl</string>
    <string>igrave-cyrl.salt</string>
    <string>Omega-cyrl</string>
    <string>omega-cyrl</string>
    <string>Eiotified-cyrl</string>
    <string>eiotified-cyrl</string>
    <string>Yuslittle-cyrl</string>
    <string>yuslittle-cyrl</string>
    <string>Yusiotifiedlittle-cyrl</string>
    <string>yusiotifiedlittle-cyrl</string>
    <string>Yusbig-cyrl</string>
    <string>yusbig-cyrl</string>
    <string>Yusiotifiedbig-cyrl</string>
    <string>yusiotifiedbig-cyrl</string>
    <string>Ksi-cyrl</string>
    <string>ksi-cyrl</string>
    <string>Psi-cyrl</string>
    <string>psi-cyrl</string>
    <string>Fita-cyrl</string>
    <string>fita-cyrl</string>
    <string>Izhitsa-cyrl</string>
    <string>izhitsa-cyrl</string>
    <string>Izhitsadoublegrave-cyrl</string>
    <string>izhitsadoublegrave-cyrl</string>
    <string>Uk-cyrl</string>
    <string>uk-cyrl</string>
    <string>Roundomega-cyrl</string>
    <string>roundomega-cyrl</string>
    <string>Omegatitlo-cyrl</string>
    <string>omegatitlo-cyrl</string>
    <string>Ot-cyrl</string>
    <string>ot-cyrl</string>
    <string>titlocomb-cyrl</string>
    <string>palatalizationcomb-cyrl</string>
    <string>cyrillicdasiapneumatacomb</string>
    <string>cyrillicpsilipneumatacomb</string>
    <string>enquad</string>
    <string>emquad</string>
    <string>enspace</string>
    <string>emspace</string>
    <string>threeperemspace</string>
    <string>fourperemspace</string>
    <string>sixperemspace</string>
    <string>figurespace</string>
    <string>punctuationspace</string>
    <string>thinspace</string>
    <string>hairspace</string>
    <string>zerowidthspace</string>
    <string>zwnj</string>
    <string>zwj</string>
    <string>hyphen</string>
    <string>nonbreakinghyphen</string>
    <string>horizontalbar</string>
    <string>rublesign</string>
    <string>fi</string>
    <string>fl</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>z</string>
    <string>zcaron</string>
    <string>zero</string>
    <string>zero.pnum</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Ibreve</string>
    <string>ibreve</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>quotereversed</string>
    <string>quotedblreversed</string>
  </array>
</dict>
</plist>
